<p>grid-poc works!123</p>
<!-- <dx-data-grid id="dataGrid" [dataSource]="employees" keyExpr="EmployeeID">
</dx-data-grid> -->
<!-- 
<dx-data-grid [dataSource]="employees" keyExpr="EmployeeID" [showBorders]="true" [columnAutoWidth]="true"
    [allowColumnResizing]="true" [allowColumnReordering]="true">
    <dxo-column-fixing [enabled]="true"></dxo-column-fixing>
    <dxo-filter-row [visible]="true"></dxo-filter-row>
    <dxo-search-panel [visible]="true"></dxo-search-panel>

    <dxo-group-panel [visible]="true"></dxo-group-panel>

     <dxi-column dataField="FullName"></dxi-column>
    <dxi-column dataField="Position">
    </dxi-column>
     <dxi-column dataField="BirthDate" dataType="date">
    </dxi-column>
    <dxi-column dataField="HireDate" dataType="date">
    </dxi-column>
    <dxi-column dataField="Country" [groupIndex]="0"></dxi-column>
    <dxi-column dataField="City" [groupIndex]="0"></dxi-column>   
    <dxi-column dataField="Address"></dxi-column>
    <dxi-column dataField="HomePhone"></dxi-column>
    <dxi-column dataField="PostalCode"></dxi-column>
</dx-data-grid> -->
