<nav>
    <ul class="nav">
        <li><a href="#">item</a>
            <ul>
                <li><a href="#">Ray</a>
                    <ul>
                        <li><a href="#">item1</a>

                        </li>
                        <li><a href="#">item2</a></li>
                        <li><a href="#">item3</a>
                            <ul>
                                <li><a href="#">sub1</a></li>
                                <li><a href="#">sub2</a></li>
                                <li><a href="#">sub3</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li><a href="#">Veronica</a></li>
                <li><a href="#">Bushy</a></li>
                <li><a href="#">Havoc</a></li>
            </ul>
        </li>
    </ul>
</nav>